{% extends "base.html" %}

{% block content %}

<style type="text/css">

#gold-green {
    height: 500px;
}
#gold-green .reportview {
    height: 450px;
}

</style>

<h1 style="margin-bottom: 30px">Gold Publications for which Green was available</h1>
<div class="row-fluid">
    <div class="span3">
        <div style="display:none" id="blurb_container">
            <p style="font-size: 30px; line-height: 40px">From a total of <span id="total" style="font-size: 50px; font-weight: bold">[total]</span> APC Records,
            <span id="detected" style="font-size: 50px; font-weight: bold">[detected]</span> could be looked up in
            <a href="http://www.sherpa.ac.uk/fact/index.php">Sherpa Fact</a>, and
            <span id="undetected" style="font-size: 50px; font-weight: bold">[undetected]</span> could not.</p>
        </div>
    </div>
    <div class="span9">
        <div id="gold-green-container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="gold-green"></div>
                </div>
            </div>
        </div>
        <div id="loading">
            <div class="row-fluid">
                <div class="span12">
                    <img src="{{url_for('static', filename='images/loading.gif')}}">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js_bottom %}
<script type="text/javascript" src="{{ url_for('static', filename='js/green.reportview.js') }}"></script>
{% endblock%}