{% extends "base.html" %}

{% block content %}

<h1 style="margin-bottom: 50px">What do you want to see?</h1>

<p><a href="{{url_for('publisher')}}">A report about expenditure on publishers</a></p>
<p><a href="{{url_for('institution')}}">A report about expenditure by institutions</a></p>
<p><a href="{{url_for('goldgreen')}}">APCs paid for which there were viable Green publication alternatives</a></p>
<p><a href="{{url_for('search')}}">All of the data, for searching</a></p>


{% endblock %}


{% block extra_js_bottom %}

{% endblock%}